# Created by aldoushxle for freebsd bash

# User specific aliases and functions
# set a fancy prompt (non-color, unless we know we "want" color)
case "$TERM" in
    xterm-color|*-256color) color_prompt=yes;;
esac

# uncomment for a colored prompt, if the terminal has the capability; turned
# off by default to not distract the user: the focus in a terminal window
# should be on the output of commands, not on the prompt
#force_color_prompt=yes

if [ -n "$force_color_prompt" ]; then
    if [ -x /usr/bin/tput ] && tput setaf 1 >&/dev/null; then
	# We have color support; assume it's compliant with Ecma-48
	# (ISO/IEC-6429). (Lack of such support is extremely rare, and such
	# a case would tend to support setf rather than setaf.)
	color_prompt=yes
    else
	color_prompt=
    fi
fi

if [ "$color_prompt" = yes ]; then
    PS1='${debian_chroot:+($debian_chroot)}\[\033[01;31m\]\u@\h\[\033[00m\]:\[\033[01;31m\]\w\[\033[00m\]\$ '
else
    PS1='${debian_chroot:+($debian_chroot)}\u@\h:\w\$ '
fi
unset color_prompt force_color_prompt

# If this is an xterm set the title to user@host:dir
case "$TERM" in
xterm*|rxvt*)
    PS1="\[\e]0;${debian_chroot:+($debian_chroot)}\u@\h: \w\a\]$PS1"
    ;;
*)
    ;;
esac

# enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'
    #alias dir='dir --color=auto'
    #alias vdir='vdir --color=auto'

    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi



# some more ls aliases
alias ll='ls -alFhG'
alias la='ls -AG'
alias l='ls -CFG'

# Run a PKG update task
alias update="sudo pkg update"

# Run a PKG upgrade task
alias upgrade="sudo pkg upgrade"

# Run a FreeBSD system update"
alias freebsdupdate="sudo freebsd-update fetch install"

###SSH Aliases###
# SSH to HxlENet-Plex-Backend alias
alias hxlenet-plex-backend="ssh aldoushxle@hxlenet-plex-backend"

# SSH to HxlENet-Sonarr-Backend alias
alias hxlenet-sonarr-backend="ssh aldoushxle@hxlenet-sonarr-backend"

# SSH to HxlENet-FreeNAS alias
alias hxlenet-freenas="ssh aldoushxle@hxlenet-freenas"

# SSH to HxlENet-Firewall alias
alias hxlenet-firewall="ssh aldoushxle@hxlenet-firewall -p 8822"

# SSH to HxlENet-Theater-PC alias
alias hxlenet-theater-pc="ssh aldoushxle@hxlenet-theater-pc"

# SSH to HxlENet-Den-PC alias
alias hxlenet-den-pc="ssh aldoushxle@hxlenet-den-pc"

# SSH to HxlENet-Val-PC alias
alias hxlenet-val-pc="ssh aldoushxle@hxlenet-val-pc"

# SSH to HxlENet-Val-ThinkPad alias
alias hxlenet-val-thinkpad="ssh aldoushxle@hxlenet-val-thinkpad"

# SSH to HxlENet-Core-3560SW01 alias
alias hxlenet-core-3560sw01="ssh aldoushxle@hxlenet-core-3560sw01"

# SSH to HxlENet-bhyve-Lab alias
alias hxlenet-bhyve-lab="ssh aldoushxle@hxlenet-bhyve-lab"

# SSH to HxlENet-Wireless-Controller alias
alias hxlenet-wireless-controller="ssh aldoushxle@hxlenet-wireless-controller"

# SSH to HxlENet-Hypervisor alias
alias hxlenet-hypervisor="ssh aldoushxle@hxlenet-hypervisor"

# SSH to HxlENet-Hypervisor-iLO alias
alias hxlenet-hypervisor-ilo="ssh aldoushxle@hxlenet-hypervisor-ilo"

# SSH to HxlENet-Monitoring-Backend alias
alias hxlenet-monitoring-backend="ssh aldoushxle@hxlenet-monitoring-backend"
